<h1>{{ articulo?.titulo }}</h1>

<div class="d-flex align-items-start gap-3 articulo-detalle">
  <img [src]="articulo?.imagen" alt="{{ articulo?.titulo }}" class="img-fluid articulo-img" />

  <div>
    <img [src]="articulo?.imagen" alt="{{ articulo?.titulo }}" class="img-fluid-reduc articulo-img" />
    <div *ngIf="articulo?.precioAnterior; else noOferta">
      <p><del>{{ articulo?.precioAnterior | currency:'EUR' }}</del></p>
      <p class="text-danger fw-bold">{{ articulo?.precio | currency:'EUR' }}</p>
    </div>
    <ng-template #noOferta>
      <p>Precio: {{ articulo?.precio | currency:'EUR' }}</p>
    </ng-template>

    <ul class="list-unstyled mt-3">
      <li *ngFor="let talla of articulo?.tallas">
        {{ talla.talla }} - 
        <span [class.text-success]="talla.disponible" [class.text-danger]="!talla.disponible">
          {{ talla.disponible ? 'Disponible' : 'No disponible' }}
        </span>
      </li>
    </ul>
  </div>
</div>
